<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Product</title>
</head>
<body>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="createproduct" method="post">
		<input style="color: black; font-size: 25px; text-align: center;"
			type="text" name="name" value="Enter the name"><br> <input
			style="color: black; font-size: 25px; text-align: center;"
			type="number" name="price" value="Enter the price"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="text" name="category" value="Enter the category"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="text" name="url" value="Enter the image url"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="submit" value="Add Product">
	</form>
</body>
</html>