<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
</head>
<body>
	<br>
	<p style="color: black; font-size: 50px; text-align: center;">Admin
		Home</p>
	<br>

	<form style="color: black; font-size: 50px; text-align: center;"
		action="userlist">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="List users">
	</form>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="productmaster">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="Products master">
	</form>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="reports">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="List purchase reports">
	</form>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="password">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="Change password">
	</form>
</body>
</html>