<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sporty Shoes</title>
</head>
<body>
	<p style="text-align: center;">
		<img
			src="https://png.pngtree.com/png-vector/20201128/ourmid/pngtree-casual-shoes-png-image_2394294.jpg"
			alt="Sporty Shoes">
	</p>
	<br>
	<p style="color: black; font-size: 50px; text-align: center;">SportyShoes Home</p><br>
	
	<form style="color: black; font-size: 50px; text-align: center;" action="login">
		<input style="color: black; font-size: 50px; text-align: center;" type="submit" value="Login">
	</form>	<br><br>
	<form style="color: black; font-size: 50px; text-align: center;" action="register">
		<input style="color: black; font-size: 50px; text-align: center;" type="submit" value="Register">
	</form>	
</body>
</html>