<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Change password</title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="passwordchange" method="post">
		<input style="color: black; font-size: 25px; text-align: center;"
			type="text" name="email" value="Enter the email"><br> <input
			style="color: black; font-size: 25px; text-align: center;"
			type="password" name="password" value="Enter the old password"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="password" name="newpassword" value="Enter the new password"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="submit" value="Change password">
	</form>
</body>
</html>