<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Products Master</title>
</head>
<body>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="productslist">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="List Products">
	</form>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="addproduct">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="Add Product">
	</form>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="deleteproduct">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="Delete Product">
	</form>
</body>
</html>