<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SportyShoes user register</title>
</head>
<body>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="adduser" method="post">
		<input style="color: black; font-size: 25px; text-align: center;"
			type="text" name="name" value="Enter the name"><br> <input
			style="color: black; font-size: 25px; text-align: center;"
			type="text" name="username" value="Enter the username"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="password" name="password" value="Enter the password"><br>
		<input style="color: black; font-size: 25px; text-align: center;"
			type="text" name="role" value="Enter the role"><br> <input
			style="color: black; font-size: 25px; text-align: center;"
			type="text" name="email" value="Enter the email"><br> <input
			style="color: black; font-size: 25px; text-align: center;"
			type="text" name="phone" value="Enter the phone"><br> <input
			style="color: black; font-size: 25px; text-align: center;"
			type="submit" value="Register">
	</form>
</body>
</html>