<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Dashboard</title>
</head>
<body>
	<br>
	<p style="color: black; font-size: 50px; text-align: center;">User
		Home</p>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="password">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="Change password">
	</form>
	<br>
	<br>
	<form style="color: black; font-size: 50px; text-align: center;"
		action="order">
		<input style="color: black; font-size: 50px; text-align: center;"
			type="submit" value="Order a product">
	</form>
</body>
</html>